* {
    margin: 0;
    padding: 0;
}

/* header */
.header {
    background-color: #f5f5f5;
    border: 1px solid rgb(224, 221, 221);
}

.dash {
    position: relative;
    top: 10px;
    margin: 0px 20px 5px 30px;
    padding: 20px;
    text-decoration: none;
    color: grey;
    font-size: 22px;
    text-align: left;
}

.dash :hover {
    color: #000000;
}

.right-panel {
    margin: 0px 30px 5px 0px;
    text-align: right;
}

button {
    top: 2px;
    margin: 0px 0px 8px 13px;
    font-weight: bolder;
    font-size: 12px;
    padding: 5px;
    width: 100px;
    border: 1px solid black;
    cursor: pointer;
    color: #ffffff;
    background-color: #4169E1;
    text-decoration: none;
}

button a {
    color: white;
    text-decoration: none;
}

button:hover {
    background-color: #6f59c0;
    color: #F5F5F5;
}

/* sidebar */
nav {
    top: 70px;
    position: fixed;
    height: 100%;
    width: 250px;
    background-color: #f5f5f5;

}




/* createcategory.php  */

.row {
    padding: 20px 0px 20px 5px;
    margin: 3px 270px;
    width: 500px;
}

fieldset {
    background-color: #ffffff;
    border: 1px solid #ffffff;
}

.heading p {
    font-size: 32px;
    font-family: Arial, Helvetica, sans-serif;
}

.form-grp {
    position: relative;
    margin: 0px 0px 15px 0px;
    padding: 3px;
    border-radius: none;
    font-family: Arial, Helvetica, sans-serif;
    font-weight: bold;
}

.form_input {
    margin-top: 3px;
    padding: 5px;
    width: 500px;
    height: 18px;
    font-size: 15px;
}

input:focus {
    border-color: rgb(158, 104, 239);
    outline: none;
}

.select {
    margin-top: 5px;
    font-weight: lighter;
    font-size: 14px;
}

.select input {
    top: 2px;
}

.success {
    margin: 10px 0px 10px 0px;
    font-size: 13px;
    font-family: Arial, Helvetica, sans-serif;
    font-weight: lighter;
    padding: 8px;
    width: 100px;
    border: 1px solid black;
    border-radius: 4px;
    cursor: pointer;
    color: #ffffff;
    background-color: #008000;
}

.danger {
    margin: 10px 0px 10px 5px;
    font-size: 13px;
    font-family: Arial, Helvetica, sans-serif;
    font-weight: lighter;
    padding: 8px;
    width: 100px;
    border: 1px solid black;
    border-radius: 4px;
    cursor: pointer;
    color: #ffffff;
    background-color: #FF5733;
}

.message1 {
    color: red;
}

/* listcategory */
table {
    width: 100%;
    border-collapse: collapse;
    border: 1px solid black;
    background-color: red;
}